<view title="'Home'">
  <content has-header="true" has-subheader="true">
    <div ng-if="userName == ''">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>
      </div>
      <a class="button button-block button-positive activated" ng-click="loginUser()">Login</a>

      <div class="social-login-buttons button button-positive ion-social-facebook" 
        ng-click="FBLogin()">
      </div>
      <div class="social-login-buttons button button-assertive ion-social-googleplus" 
        ng-click="GLogin()">
      </div>
      <div class="social-login-buttons button button-calm ion-social-twitter" 
        ng-click="TLogin()">
      </div>
      <!-- <a class="button button-block button-positive activated" href="#/userHome">Login</a> -->
    </div>
  </content>
</view>
